body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
	height: 100vh;
}

.container {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
	/*min-height: 35rem;*/
	align-items: center;
}

.flex {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex: 1;
	justify-content: space-between;
}

.title {
	display: flex;
	flex-basis: 50%;
  max-width: 50%;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
}

section.appContainer {
	display:flex;
	flex-basis: 50%;
  max-width: 50%;
	flex-direction: column;
  justify-content: center;
  padding: 5rem;
}

#fastingCalculator {
  border-radius: 8px;
  text-align: center;
	border: 1px solid lightgrey;
}

#fastingCalculator .title {
  background-color: var(--primaryColor);
  border-radius: 15px 15px 0 0;
  padding: 1rem;
}

#fastingCalculator #icon {
  height: 30px;
}

#fastingCalculator form {
  padding: 1rem;
}

#fastingCalculator form .row {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 1rem;
  align-items: center;
}

#fastingCalculator form .row .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#fastingCalculator form .row .time * {
  margin-left: 5px;
}

#fastingCalculator form select {
  padding: 0.3rem;
}

#fastingCalculator button {
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  border: none;
  /* border: 1px solid #000; */
  background-color: var(--primaryColor);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
#fastingCalculator button:hover {
  filter: brightness(150%);
}
#fastingCalculator button:active {
  filter: brightness(90%);
}